{% extends 'main.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>

<!-- head photo -->
<img alt="Platypus eating a worm underwater." src="{{ url_for('static', filename='images/Platypuses-food-worms.jpg') }}">
<p class="credit">Platypus (<em>Ornithorhynchus anatinus</em>) eating a worm underwater. <a href="https://www.britannica.com/animal/platypus#/media/1/464303/249815" target="_blank">via Encyclopædia Britannica</a></p>

{% if error %}
    {{error}} 
{% endif %}

<ul>
    <!-- menu to navigate pages -->
    <li><a href="{{ url_for('venom') }}">Platypus Poison</a></li>
    <li><a href="{{ url_for('lifecycle') }}">Life cycle and reproduction</a></li>
    <li><a href="{{ url_for('main') }}">Home page</a></li>
</ul>

<!-- filler text with platypus facts -->
<p>
    Platypuses are generally solitary, spending their lives either feeding along the bottoms of rivers, streams, and lakes or resting in burrows dug into the banks. They are extremely energetic, feeding almost continuously while in the water, shoveling through streambed debris with their flat bills as they hunt for larval insects and freshwater crustaceans (a favourite food). The platypus uses its sophisticated electromechanical system to detect minute electrical signals given off by the muscles of its prey. After feeding, it retires to its burrow, the entrance of which is large enough to admit only the platypus and serves to squeeze excess moisture from the fur.
</p>

<p>
    The platypus is found in terrain ranging from the high country of Tasmania and the Australian Alps to lowland areas close to the sea. Although it has on occasion been seen swimming in salt water, the platypus must feed in fresh water, where its electrical navigation system is operative. The platypus is present in all eastern Australian states in both eastward- and westward-flowing river systems, but it is absent from far northern Queensland and, unlike its relatives, the echidnas, does not appear to have colonized the island of New Guinea.
</p>

<p>
    Generally most active around dawn and dusk (crepuscular), platypuses can also be active during the day depending on the season, cloud cover, stream productivity, and even individual preference. Platypuses are not known to hibernate. However, they have an unusually low body temperature for mammals (about 32 °C [90 °F]). Studies have shown that they can maintain a constant body temperature even after extended periods in water with temperatures as low as 4 °C (39 °F), a fact that puts to rest the belief that monotremes cannot regulate their body temperature.
</p>


<!--Date/Time Footer Section-->
<table class="footer">
    <td class="footer" style="text-align:left">
        <p>
            <a href="{{ url_for('logout') }}">Logout</a>
        </p>    
        <div class="login-signup">
            <span>Update Password?<a href="{{ url_for('update') }}"> Update Here</a></span>
        </div>   
    </td>
    <td class="footer" style="text-align:right">
        <p>{{datetime}}</p>
    </td>
</table>



{% endblock %}